/* CSS */
html{
background-color: white;
} 

body{
    font-family: "Archivo", Arial, Arial, Helvetica, sans-serif;
}

h1{
font-size: 96px;
}

a{
    font-family: "Martian Mono";
}

#Article-icons{
    font-family: "Martian Mono";
}

#Thema-locatie{
    font-family: "Martian Mono"; 
}

.Datum-locatie{
    font-family: "Martian Mono"; 
}

